h1 {
    color:white;
    font-size: 48px;
}

body {
    background-color: #23272a;
    color: #ffffff; 
}

nav {
    font-size: 22px;
}

article {
    width: 500px;
    padding: 30px;
    border: 40px;
    margin: 2;
}

.rickroll {
    width: 350px;
}