h1 {
    color:white;
    font-size: 48px;
}

body {
    background-color: #23272a;
    color: #ffffff; 
}

nav {
    font-size: 22px;
}

section {
    margin: 10px;
    padding: 30px;
}
article {
    width: 800px;
    padding: 15px;
    border: 40px;
}

.rickroll {
    width: 350px;
}